@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Plaza_de_Toros_de_Pamplona_Pamplona_Spain_2022.jpg/1920px-Plaza_de_Toros_de_Pamplona_Pamplona_Spain_2022.jpg")
      no-repeat;
  height: 100vh;
  width: 100%;
  background-position: left;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1.2em;
  font-size: 1.5em;
  color: #ff0180;
  font-weight: bolder;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav li {
  list-style: none;
}

.nav li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 1em;
  color: #ff0180;
  transition: color 0.4s ease-in-out;
}

.nav li a:hover {
  color: #e5ff00;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 120px auto;
}

h1 {
  color: #ff0180;
  letter-spacing: 1px;
  word-spacing: 3px;
}

p {
  margin: 1em;
  color: #e5ff00;
  font-size: 1.2em;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 1.6;
  transition: color 0.5s ease-in-out;
  padding-bottom: 1em;
}

button {
  background: #ff01804b;
  color: #fff;
  padding: 14px 45px;
  font-size: 1.2em;
  border: none;
  letter-spacing: 2px;
  word-spacing: 3px;
  transition: all 0.5s ease;
}

button:hover {
  transform: translateY(10px);
  background: #e5ff0063;
  color: #fff;
  border-radius: 25px;
}
